.btn__close {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: #211f1f62;
    font-weight: 700;
    background: rgb(241, 241, 245);
    transition: 0.2s;
    &:hover {
        background: rgb(141, 214, 245);
        color: aliceblue;
    }
}
.popap {
    display: none;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: white;
    background: #0004;
    z-index: 100;
    opacity: 0;
    animation: overlay 0.5s ease 0s forwards;
}
@keyframes overlay {
    to {
        opacity: 1;
    }
}

.model {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%) scale(0.8);
    width: 350px;
    min-height: 400px;
    background: #ffffff;
    z-index: 101;
    box-shadow: 0 0 25px #0005;
    opacity: 0;
    animation: model 0.5s ease 0s forwards;
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgb(201, 201, 201);
    input,
    select {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        border: 1px solid rgb(152, 151, 151);
        padding-left: 10px;
        outline: none;
        color:rgb(141, 141, 245) ;
    }
    select {
        color: #000;
    }
    .btn__submit {
        width: 200px;
        height: 40px;
        border-radius: 5px;
        color: #211f1f62;
        background: rgb(241, 241, 245);
        border: none;
        transition: 0.2s;
        font-weight: 700;
        &:hover {
            background: rgb(141, 214, 245);
            color: aliceblue;
        }
    }
}
@keyframes model {
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
